html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dandd-section {
  margin: 30px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: block;
  width: 500px;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
}
.dandd-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 30px;
  margin-top: -15px;
  margin-left: -100px;
  text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}

input[type=text] {
  width: 200px;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding-left: 3px;
  font-size: 12px;
}
label {
  display: inline-block;
  width: 150px;
  margin: 10px;
}
.is-hidden {
  display: none;
}

.banner-text-position {
  width: 540px;
  font-size: 13px;
}
.banner-text-position-title {
  font-size: 16px;
  margin-left: 10px;
}

.btn-cancel {
  width: 100px;
  height: 30px;
  line-height: 1;
  margin: 10px 0 20px 20px;
}

.btn-save {
  width: 100px;
  height: 30px;
  line-height: 1;
  margin: 20px;
}

.content-area {
  width: 1000px;
  margin: 0 auto;
}
.edit-text-area {
  width: 500px;
  margin-left: 20px;
}
